ED_FAULT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" elementFormDefault="qualified">
   <xs:complexType name="faultcodeType" mixed="true">
      <xs:attribute name="type" type="xs:string" use="required" />
   </xs:complexType>
   <xs:complexType name="faultstringType" mixed="true">
      <xs:attribute name="type" type="xs:string" use="required" />
   </xs:complexType>
   <xs:complexType name="BodyType">
      <xs:sequence>
         <xs:element name="Fault" type="SOAP-ENV:FaultType" />
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Envelope">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Body" type="SOAP-ENV:BodyType" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="FaultType">
      <xs:sequence>
         <xs:element name="faultcode" type="SOAP-ENV:faultcodeType" />
         <xs:element name="faultstring" type="SOAP-ENV:faultstringType" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>